<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Kalkulator</title>
    <meta name="description" content="Kalkulator stworzony przez Adriannę Kulon">
    <meta name="keywords" content="kalkulator, liczenie">
    <meta name="author" content="akulon2303">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
{% block messages %}
    {% if errorMessage %}
        <div>
            <p>Strona chwilowo niedostępna: {{ errorMessage }}. Spróbuj później.
            </p>
        </div>
    {% endif %}
{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>