body{
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right:  auto;
}

h1 {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    color: #e9f3e9;
    margin-left: 50px;
}

.row-container {
    display: flex;
    border-style: solid;
    width: 600px;
    height: 300px;
}

.row{
    margin-left: 45px;
    margin-top: 50px;
    }

.name {
    padding: 5px;
    margin-left: 25px;
}
.number {
        padding: 5px;
        text-align: justify;
}
.box {
    padding: 5px;
    text-align: justify;
    margin-top: -20px;
    
}

#submit {
        font-size: 20px;
    margin: 15px 250px;
    }

